@import "variables";
@import "./mixins";

#object {
  width: $mainWidth;
  height: $mainHeight;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 0, -30deg);
}

.face {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  @include cube(
    $mainWidth,
    $mainHeight,
    50px,
    $cubeFrontColor,
    $cubeTopColor,
    $cubeRightColor
  );
}

.speakers {
  width: $btnWidth;
  height: $btnHeight;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}

.speaker {
  display: grid;
  width: $btnWidth;
  height: $btnHeight;
  position: absolute;
  top: 60px;
  left: -15px;
  @include cube(
    $btnWidth,
    $btnHeight,
    10px,
    $btnFrontColor,
    $btnTopColor,
    $btnRightColor
  );
}

// .front-key {
//   background-color: $btnFrontColor;
//   transform: rotateY(180deg) translateZ(5px);
// }

// .back-key {
//   background-color: $btnColor;
//   transform: translateZ(5px);
// }

// .top-key {
//   width: 100%;
//   height: 10px;
//   background-color: $btnTopColor;
//   transform: rotateX(90deg) translateZ(5px);
// }

// .bottom-key {
//   width: 100%;
//   height: 10px;
//   background-color: $btnColor;
//   transform: rotateX(-90deg) translateZ(5px);
// }

// .left-key {
//   background-color: $btnColor;
//   transform: rotateY(-90deg) translateZ(5px);
// }

// .right-key {
//   width: 10px;
//   height: 100%;
//   background-color: $btnRightColor;
//   transform: rotateY(90deg) translateZ(50px);
// }
