$mainWidth: 280px;
$mainHeight: 100px;

$cubeFrontColor: #7ce9ea;
$cubeBottomColor: rgba(0,0,0,0);
$cubeLeftColor: rgba(0,0,0,0);
$cubeRightColor: #86f6f7;
$cubeTopColor: #b4f9fa;
$cubeBackColor: rgba(0,0,0,0);

$btnWidth: 55px;
$btnHeight: 55px;

$btnFrontColor: rgb(228, 228, 228);
$btnTopColor:  rgb(254, 254, 254);
$btnRightColor: rgb(172, 172, 172);
$btnColor: rgba(0,0,0,0);