$mainWidth: 280px;
$mainHeight: 100px;

$cassWidth: 70px;
$cassHeight: 70px;

$smallButton: 12px;
$smallButtonFrontColor: #d8cf4c;
$mainObjectColor: #31c8d3;
$cassColor: #dadada;

$primary: #fff022;
$secondary: #f1f1f1;
$dark: #333;
